<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Edit items page</title>

<style>
.align_center {
	padding: 3px;
	text-align: center;
}

.table {
	text-align: center;
	border: 1px solid #aaa;
	padding-left: 8px;
	padding-right: 8px;
	color: indigo;
}

.list_table {
	text-align: center;
	padding-left: 18px;
	color: black;
}

.left_column {
	padding-left: 5px;
	color: indigo;
	border: 1px solid #aaa;
	padding-left: 20px;
	padding-top: 10px;
}

.error {
	color: OrangeRed;
	font-style: italic;
}

.button {
	height: 38px;
	width: 65px;
}

.button_add {
	height: 38px;
	width: 140px;
}

div.wrapper {
	width: 950px;
}

div.left_block {
	float: left;
	width: 260px;
}

div.right_block {
	float: right;
	width: 600px;
}
</style>

</head>

<!-- Standard heading -->

<h2> <img src="special offer.jpg" alt="No picture available" width="160" style="float: left;"> </h2>
<h1 style="color:gold; font-family: 'Courier New'; background-color: LightGoldenRodYellow; padding-left: 240px; padding-top: 20px;"  
th:text="#{manager.items}">ITEMS LIST EDIT</h1>
<p style="opacity:0;">.</p>

<small style="float: left; padding-right: 20px; text-align: right;">
<a href="manager_gomenu" th:action="manager_gomenu" th:text="#{manager.gomenu}"> Return to the Main Menu </a></small>

<body style="background-color: AliceBlue;">

<span class="align_center" th:text="#{greeting.date}"> Today is </span>
<span th:text="${#dates.format(today1,'dd MMMM')}"> 6 March </span>
<span style="font-weight: bold;" th:text="${#dates.format(today1,'HH : mm')}"> 12 : 00 </span>

<!-- Manager's information -->

<table class="table">
    <thead>
    <tr class="table">
      <th scope="col" th:text="#{manager.you}" class="table">YOUR DATA AS MANAGER:</th>
      <th scope="col" th:text="#{manager.surname}" class="table">Surname</th>
      <th scope="col" th:text="#{manager.name}" class="table">Name</th>
      <th scope="col" th:text="#{manager.username}" class="table">Username</th>
      <th scope="col" th:text="#{manager.address}" class="table">Address</th> 
      <th scope="col" th:text="#{manager.phonenumber}" class="table">Phone Number</th>
      <th scope="col" th:text="#{manager.intphone}" class="table"> Internal Phone</th>
      
    </tr>
    </thead>

    <tbody>

       <tr class="table">
        <td> ID:<span th:text="${manager.id}">2 </span></td>
        <td th:text="${manager.surname}">Ivanov</td>
        <td th:text="${manager.name}"> Ivan </td> 
        <td th:text="${manager.userName}">IvanIvanov</td>
        <td th:text="${manager.address}">Tallinn, Suur-Somae,10</td>
        <td th:text="${manager.phoneNumber}">3723456432</td>
        <td th:text="${manager.intPhone}">1234</td>
      </tr>
   
    </tbody>
  </table>

<!-- EDIT OF EXISTING ITEMS -->

<h3 th:text="#{manager.listofitems}" style="color:DarkOrange; padding-top: 20px;">Edit the Items Listed Below or Add New:</h3>

<form id="edit" action="item_edit"> </form>
<form id="remove" action="item_remove"> </form>

<table class="list_table">
    <thead>
    <tr>
      <th scope="col" class="list_table">ID</th>
      <th scope="col" th:text="#{item.type}" class="list_table">Type</th>
      <th scope="col" th:text="#{item.name}" class="list_table">Name</th>
      <th scope="col" th:text="#{item.initprice}" class="list_table">Price Before Discounts <span>, EUR</span></th>
      <th scope="col" th:text="#{item.disc%}" class="list_table">Discount Percent <span>, %</span></th>
      <th scope="col" th:text="#{item.ind%}" class="list_table">Independence Discount <span>, %</span></th>
      <th scope="col" th:text="#{item.minDisc}" class="list_table">At Least Buy <span>, pcs</span></th>
      <th scope="col" th:text="#{item.max}" class="list_table">Max With Discount <span>, pcs</span></th>
      <th scope="col" th:text="#{item.buy}" class="list_table">If Buy This <span>, pcs</span></th>
      <th scope="col" th:text="#{item.for}" class="list_table">Get For <span>, pcs</span></th>
           <th scope="col" th:text="#{item.edit}" class="list_table">Edit</th>
            <th scope="col" th:text="#{item.remove}" class="list_table">Remove</th>
      
    
     </tr>
    </thead>
    
     <tbody>

				<tr th:each="itemch:${items}" class="list_table">
					<td th:text="${itemch.id}" style="text-align: center;">2</td>
					<td>
						<div th:switch="${itemch.type}" th:attr="value=1">
							<span th:case=1 th:text="#{item.norm}"></span> 
							<span th:case=2 th:text="#{item.disc}"></span> 
							<span th:case=3 th:text="#{item.ind}"></span> 
							<span th:case=4 th:text="#{item.tia}"></span> 
							<span th:case=5 th:text="#{item.bmpl}"></span> 
						</div>
					</td>
			
					<td><input type="text" name="itemch.iname" value="Pineapple" th:attr="value=${{itemch.name}}"
					style="width: 80%" form="edit"/> <br> 
<!-- 			<small th:text="${itemch.ename} ? #{error.three}:#{ok}" -->
<!-- 					class="error" style="padding-left: 10px;"> Required at least 3 letters</small> -->
					</td>
					
					<td><input type="text" name="itemch.iinitPrice" value="15" th:attr="value=${{itemch.initPrice}}"
					style="width: 40%" form="edit"/> <br> 
<!-- 			<small th:text="${itemch.einitPrice} ? #{error.double}:#{ok}" -->
<!-- 					class="error" style="padding-left: 10px;"> Required ONLY digits</small> -->
					
					</td>

					<td><span th:if="${itemch.type !=1 and itemch.type!=5}"> 
					<input type="text"
							name="itemch.idisc" value="15" th:attr="value=${{itemch.disc}}"
							style="width: 40%" form="edit"/> <br> 
							
<!-- 							<small -->
<!-- 							th:text="${itemch.edisc} ? #{error.double}:#{ok}" class="error" -->
<!-- 							style="padding-left: 10px;"> Required ONLY digits</small> -->
							
							</span> <span
						th:if="${itemch.type ==1 and itemch.type==5}" th:text="-">
					</span></td>


					<td> <span  th:if="${itemch.type}==3" >  
					<input type="text"
							name="itemch.iind" value="15" th:attr="value=${{itemch.ind}}"
							style="width: 40%" form="edit"/> <br> 
							
<!-- 							<small -->
<!-- 							th:text="${itemch.eind} ? #{error.double}:#{ok}" class="error" -->
<!-- 							style="padding-left: 10px;"> Required ONLY digits</small>  -->
							
							</span>
				     <span th:if="${itemch.type}!=3" > - </span></td>
				     
				    
					<td> <span th:if="${itemch.type}==4" > <input type="text"
							name="itemch.imindisc" value="3" th:attr="value=${{itemch.mindisc}}"
							style="width: 40%" form="edit"/> <br> 
							
<!-- 							<small -->
<!-- 							th:text="${itemch.emindisc} ? #{error.double}:#{ok}" class="error" -->
<!-- 							style="padding-left: 10px;"> Required ONLY digits</small>  -->
							
							</span>
					 <span th:if="${itemch.type}!=4" > - </span></td>
					
					<td> <span th:if="${itemch.type}==4" th:text="${{itemch.maxQ}}">10 <br> 
<!-- 					<small style="opacity:0;"> - </small>  -->
					
					</span> 
					 <span th:if="${itemch.type}!=4" > - </span></td>
					 
			        <td> <span th:if="${itemch.type}==5" ><input type="text"
							name="itemch.ibuyQ" value="5" th:attr="value=${{itemch.buyQ}}"
							style="width: 40%" form="edit"/> <br> 
<!-- 							<small -->
<!-- 							th:text="${itemch.ebuyQ} ? #{error.double}:#{ok}" class="error" -->
<!-- 							style="padding-left: 10px;"> Required ONLY digits</small>  -->
							
							</span>
			         <span th:if="${itemch.type}!=5" >- </span></td>
					
					<td> <span th:if="${itemch.type}==5"><input type="text"
							name="itemch.iforQ" value="5" th:attr="value=${{itemch.forQ}}"
							style="width: 40%" form="edit"/> <br> 
							
<!-- 							<small -->
<!-- 							th:text="${itemch.eforQ} ? #{error.double}:#{ok}" class="error" -->
<!-- 							style="padding-left: 10px;"> Required ONLY digits</small>  -->
							
							</span>
					<span th:if="${itemch.type}!=5" > - </span></td>
					
					<td> 
						<button form="edit" type="submit" th:name="edit_index"
							th:value="${itemchStat.index}"
							style="background-color: Chartreuse;" class="button">
							<div th:text="#{item.edit}"> Edit</div> 
							</button> 
					</td>
					
					<td> 
						<button form="remove" type="submit" th:name="remove_index"
							th:value="${itemchStat.index}"
							style="background-color: Crimson; padding-left:5px; color: White;" class="button">
							<div th:text="#{item.remove}">Remove</div> 
							</button> 
					</td>


				</tr>

			</tbody>
  </table>


<!-- ADD A NEW ITEM -->

<form action="item_addnew" th:object="${input}">
<table class="list_table">
    <thead>
    <tr>
      <th scope="col" class="list_table">ID</th>
      <th scope="col" th:text="#{item.type}" class="list_table">Type</th>
      <th scope="col" th:text="#{item.name}" class="list_table">Name</th>
      <th scope="col" th:text="#{item.initprice}" class="list_table">Price Before Discounts <span>, EUR</span></th>
      <th scope="col" th:text="#{item.disc%}" class="list_table">Discount Percent <span>, %</span></th>
      <th scope="col" th:text="#{item.ind%}" class="list_table">Independence Discount <span>, %</span></th>
      <th scope="col" th:text="#{item.minDisc}" class="list_table">At Least Buy <span>, pcs</span></th>
      <th scope="col" th:text="#{item.max}" class="list_table">Max With Discount <span>, pcs</span></th>
      <th scope="col" th:text="#{item.buy}" class="list_table">If Buy This <span>, pcs</span></th>
      <th scope="col" th:text="#{item.for}" class="list_table">Get For <span>, pcs</span></th>
           <th scope="col" th:text="#{item.addnew}" class="list_table">Add New</th>
      
    
     </tr>
    </thead>
    
     <tbody>

				<tr class="list_table">
					<td style="text-align: center;">-</td>
				
					<td><select name = "type" id="item_type">
<!-- 							<option value="${itemnewch.itype}"></option> -->
							<option value=1 th:text="#{item.norm}">Standard</option>
							<option value=2 th:text="#{item.disc}">Discounted</option>
							<option value=3 th:text="#{item.ind}">Extra Independence Discount</option>
							<option value=4 th:text="#{item.tia}">Take It All</option>
							<option value=5 th:text="#{item.bmpl}">Buy More Pay Less</option>	
					</select> <br> <small style="opacity: 0;"> - </small></td>


					<td><input type="text" name="name" value="Pineapple" 
					style="width: 80%"> <br> 
			<small th:text="${itemnewch.ename} ? #{error.three}"
					class="error" style="padding-left: 10px;"> Required at least 3 letters</small></td>
					
					<td><input type="text" name="initPrice" value="15" 
					style="width: 40%"> <br> 
			<small th:text="${itemnewch.einitPrice} ? #{error.double}"
					class="error" style="padding-left: 10px;"> Required ONLY digits</small></td>

					<td id="disc"><span > 
					<input type="text"
							name="disc" value="15" 
							style="width: 40%"> <br> 
<!-- 							<small -->
<!-- 							th:text="${itemnewch.edisc} ? #{error.double}" class="error" -->
<!-- 							style="padding-left: 10px;"> Required ONLY digits</small> -->
							
							</span> 
<!-- 							<span -->
<!-- 						th:if="${itemnewch.type ==1 and itemnewch.type==5}" >- -->
<!-- 					</span> -->
					</td>


					<td id="ind" > <span  >  
					<input type="text"
							name="ind" value="15" 
							style="width: 40%"> <br> 
<!-- 							<small -->
<!-- 							th:text="${itemnewch.eind} ? #{error.double}" class="error" -->
<!-- 							style="padding-left: 10px;"> Required ONLY digits</small>  -->
							
							</span>
<!-- 				     <span th:if="${itemnewch.type}!=3" > - </span></td> -->
				     
				    
					<td id="mindisc"> <span > <input type="text"
							name="mindisc" value="3" 
							style="width: 40%"> <br> 
<!-- 							<small -->
<!-- 							th:text="${itemnewch.emindisc} ? #{error.double}" class="error" -->
<!-- 							style="padding-left: 10px;"> Required ONLY digits</small>  -->
							
							</span>
<!-- 					 <span th:if="${itemnewch.type}!=4" > - </span></td> -->
					
					<td > 10 </td>
					 
<!-- 					<small style="opacity:0;"> - </small> </span> -->
<!-- 					 <span th:if="${itemnewch.type}!=4" > - </span></td> -->
	        
			        <td id="buy"> <span ><input type="text"
							name="buyQ" value="5" 
							style="width: 40%"> <br> 
<!-- 							<small -->
<!-- 							th:text="${itemnewch.ebuyQ} ? #{error.double}" class="error" -->
<!-- 							style="padding-left: 10px;"> Required ONLY digits</small>  -->
							
							</span>
<!-- 			         <span th:if="${itemnewch.type}!=5" > - </span></td> -->
					
					<td id="for"> <span ><input type="text"
							name="forQ" value="5" 
							style="width: 40%"> <br> 
<!-- 							<small -->
<!-- 							th:text="${itemnewch.eforQ} ? #{error.double}" class="error" -->
<!-- 							style="padding-left: 10px;"> Required ONLY digits</small>  -->
							
							</span>
<!-- 					<span th:if="${itemnewch.type}!=5" > - </span></td> -->
					

					<td>
						<button type="submit" th:name="item_addnew" th:value="Submit"
							style="background-color: ForestGreen;" class="button_add">
							<div th:text="#{item.addnew}">Add New</div>
							
						</button>
					</td>


				</tr>

			</tbody>
  </table>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
$(document).ready(function() {
    $("#item_type").change(function () {
        var selectedOption = $('#item_type').val();
        if (selectedOption != ''){
        	
        	var ldisc = document.getElementById('disc');
        	var lind = document.getElementById('ind');
        	var lmindisc = document.getElementById('mindisc');
        	var lmax = document.getElementById('max');
        	var lbuy = document.getElementById('buy');
        	var lfor = document.getElementById('for');
        	
        	if (selectedOption == "1" || selectedOption == "5") ldisc.style.visibility = 'hidden';
        	if (selectedOption != "1" && selectedOption != "5") ldisc.style.visibility = 'visible';
        	
        	if (selectedOption != "3") lind.style.visibility = 'hidden';
        	if (selectedOption == "3") lind.style.visibility = 'visible';
        	
        	if (selectedOption != "4") lmindisc.style.visibility = 'hidden';
        	if (selectedOption == "4") lmindisc.style.visibility = 'visible';
        	
        	if (selectedOption != "5") {lbuy.style.visibility = 'hidden'; lfor.style.visibility = 'hidden';  lmax.style.visibility = 'hidden';  }
        	if (selectedOption == "5") {lbuy.style.visibility = 'visible'; lfor.style.visibility = 'visible'; lmax.style.visibility = 'visible'; }
        	
           }
    });
});

</script>


</body>
</html>